---
import type { ToolSectionContent } from "#pods/tools-collection/components/tool-collection.model.ts";
import ToolsIcon from "#assets/icons/Tools.astro";
import Cog from "#assets/icons/Cog.astro";

const toolCollectionContent: ToolSectionContent = {
  heading: "Habilidades",
  description: "Herramientas que utilizo para desarrollar mis proyectos web.",
  tools: [
    {
      name: "Git",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg",
    },
    {
      name: "HTML5",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg",
    },
    {
      name: "CSS3",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg",
    },
    {
      name: "JavaScript",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg",
    },
    {
      name: "TypeScript",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg",
    },
    {
      name: ".NET",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dot-net/dot-net-plain-wordmark.svg",
    },
    {
      name: "SQL",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original-wordmark.svg",
    },
    {
      name: "React",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original-wordmark.svg",
    },
    {
      name: "Nodejs",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original.svg",
    },
    {
      name: "Github",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg",
    },
    {
      name: "Figma",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg",
    },
    {
      name: "Astro",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg",
    },
    {
      name: "TailwindsCss",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg",
    },
    {
      name: "VisualStudioCode",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vscode/vscode-original.svg",
    },
    {
      name: "LinuxMint",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linuxmint/linuxmint-original.svg",
    },
    {
      name: "Vitejs",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vitejs/vitejs-original.svg",
    },
    {
      name: "Canva",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/canva/canva-original.svg",
    },
    {
      name: "Trello",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/trello/trello-original.svg",
    },
    {
      name: "Notion",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/notion/notion-original.svg",
    },
    {
      name: "Slack",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/slack/slack-original.svg",
    },
    {
      name: "Zustand",
      logo: "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/zustand/zustand-original.svg",
    },
  ],
};
---

<section aria-labelledby="tech-tools-heading" class="flex flex-col gap-4"> 
  <h2 class="flex items-center gap-1 text-[rgb(var(--color),0.85)] text-base font-semibold tracking-tight [&>svg]:size-5 [&>span]:font-light [&>span]:opacity-45 ">
    <Cog /> <span>|</span> {toolCollectionContent.heading}
  </h2>
  
  <p class="text-sm font-light text-[rgb(var(--color),0.65)] text-pretty tracking-tighter">
    {toolCollectionContent.description}
  </p>

  <ul class="flex flex-wrap gap-6 max-w-lg">
    {
      toolCollectionContent.tools.map(t => (
        <li class="border border-[rgb(var(--color),0.1)] size-8 grid place-content-center rounded-lg bg-[rgb(var(--light),0.35)] dark:bg-secondary-500/35 backdrop-blur-2xl backdrop-saturate-100 shadow-[0_0_8px_rgb(var(--color),0.15)] transition-all duration-300 hover:scale-125 ">
          <img src={t.logo} alt={t.name} title={t.name} class="size-5 object-cover" />
        </li>
      ))
    }
  </ul>

</section>


