---
import Heart from "#assets/icons/Heart.astro";
import Info from "#assets/icons/Info.astro";
import Gear from "#assets/icons/Gear.astro";

import type { Post } from "../post.collection.model";
interface Props {
  post: Post;
}
const { post } = Astro.props;
const readTimeLabel = "min read";
---

<a
  href={`/posts/${post.slug}`}
  title={`Ver ${post.title}`}
  class="border border-[rgb(var(--color),0.03)] dark:border-[rgb(var(--dark),0.15)] group bg-[rgb(var(--light),0.08)] dark:bg-[rgb(var(--dark),0.50)] backdrop-blur-2xl backdrop-saturate-100 rounded-xl p-4 overflow-hidden shadow-[8px_8px_24px_rgb(var(--color),0.08),-8px_-8px_24px_rgb(var(--color),0.02)] dark:shadow-[8px_8px_24px_rgb(0,0,0,0.25),-8px_-8px_24px_rgb(0,0,0,0.1)] group"
>
  <div class="flex flex-col gap-1 h-full">
    <figure
      class="[&>svg]:size-5 text-[rgb(var(--color),0.85)] transition-all duration-300 group-hover:text-secondary-500"
    >
      <Info aria-hidden="true" />
    </figure>

    <div class="flex flex-col gap-1.5 justify-between flex-1">
      <div class="flex flex-col gap-1">
        <time
          datetime={post.date}
          class="block font-inconsolata font-light text-xs tracking-tighter group-hover:text-secondary-500/85"
        >
          {
            new Date(post.date).toLocaleDateString("en-US", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }
        </time>
        <h4
          class="text-sm font-medium tracking-tighter leading-[1.15] group-hover:text-secondary-500 transition-all duration-300 group-hover:text-shadow-[0_0_8px_rgb(var(--color),0.15)]"
          transition:name={`${post.title}-title`}
        >
          {post.title}.
        </h4>
        <!-- <p class="text-sm font-light leading-tight opacity-65 ">
          {post.summary}
        </p> -->
      </div>

      <div
        class="font-inconsolata flex items-center justify-between gap-4 text-xs font-light tracking-wide transition-opacity group-hover:opacity-65"
      >
        <span>{post.readTime} {readTimeLabel}</span>
        <div
          class="flex items-center gap-1 [&>svg]:size-4 group-hover:text-red-400"
        >
          <Heart aria-hidden="true" />
          <span>{6}</span>
        </div>
      </div>
    </div>
  </div>
</a>

