---
import Data from "#assets/icons/Data.astro";
import Info from "#assets/icons/Info.astro";
import Gear from "#assets/icons/Gear.astro"; 

import { PROJECTS } from "#data/projects.js";
const projects = PROJECTS.filter((project) => !project.hidden);
const feactures = projects
  .map((value) => ({ value, sort: Math.random() }))
  .sort((a, b) => a.sort - b.sort)
  .map(({ value }) => value)
  .slice(0, 3);
---

<section class="flex flex-col flex-1 gap-6 md:gap-8">
  <h3
    class="flex items-center gap-1 text-sm tracking-tight font-normal [&>svg]:size-5 [&>span]:font-extralight [&>span]:opacity-45"
  >
    <Data /> Proyectos destacados:
  </h3>

  <div class="grid max-w-175 gap-6 grid-cols-1 justify-center md:grid-cols-3">
    {
      feactures.map((project, index) => {
        const num = `${index + 1}`.padStart(2, "0");
        return (
          <a
            href={`/${project.slug}`}
            title={`Ver proyecto ${project.title}`}
            class="group border border-[rgb(var(--color),0.03)] bg-[rgb(var(--light),0.15)] dark:border-[rgb(var(--dark),0.10)] dark:bg-[rgb(var(--dark),0.25)] backdrop-blur-2xl backdrop-saturate-100 rounded-xl p-4 overflow-hidden shadow-[0_0_12px_rgb(var(--color),0.05)] dark:shadow-[0_0_12px_rgb(0_0_0/0.15)]"
          >
            <div class="flex flex-col gap-4 h-full">
              <div class="flex items-center gap-1 relative transition-all duration-300 [&>svg]:size-5 group-hover:[&>svg]:rotate-12 group-hover:[&>svg]:text-secondary-500">
                <Gear />
                <span class="absolute left-6 top-0 z-2 font-bold font-geist text-base tracking-tight transition-all duration-300 group-hover:-rotate-12 group-hover:scale-125 group-hover:text-secondary-500/85">
                  #{num}
                </span>
              </div>

              <div class="flex flex-col flex-1 justify-between gap-2">
                <h4 class="font-semibold text-sm leading-tight tracking-tighter opacity-85 group-hover:text-secondary-500">
                  {project.title}
                </h4>
                <p class="font-inconsolata font-light tracking-tighter leading-tight text-xs opacity-65">
                  {project.description}
                </p>
                {/* <ul class="font-inter font-light text-[10px] flex flex-wrap gap-1">
                  {
                    project.learnings.map((learning) => (
                      <li class="border border-secondary-500/25 text-[rgb(var(--color),0.45)] px-1 rounded-full group-hover:border-secondary-500/45 group-hover:text-[rgb(var(--color),0.55)]">
                        {learning}
                      </li>
                    ))
                  }
                </ul> */}
              </div>
            </div>
          </a>
        );
      })
    }
  </div>
</section>
