---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import ArrowLeft from "#assets/icons/ArrowLeft.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="w-[calc(100%-1em)] max-w-175 mx-auto">
      <article>
        <figure class="hero-image w-full overflow-hidden aspect-video">
          {
            heroImage && (
              <Image
                width={1020}
                height={510}
                src={heroImage}
                alt="imagen de portada"
                class={`block mx-auto rounded-xl object-cover shadow-[0_0_16px_rgb(var(--color),0.10)]`}
              />
            )
          }
        </figure>

        <div
          class="prose m-auto max-w-[calc(100%-1em)] w-175 px-4 text-[rgb(var(--color),0.85)]"
        >
          <div class="flex items-center justify-between mb-8 ">
            <a
              href="/blog"
              title="Regresar a página principal"
              class="flex items-center gap-1 text-sm font-inconsolata font-light tracking-tighter text-[rgb(var(--color),0.65)] transition-all duration-300 hover:text-secondary-500 hover:underline hover:underline-offset-2"
            >
              <ArrowLeft />
              <span>Regresar</span>
            </a>

            <div
              class="flex items-center font-inconsolata font-light select-none text-[rgb(var(--color),0.65)]"
            >
              <span>Publicado: </span>
              <div class="text-sm">
                <FormattedDate date={pubDate} />
                {
                  updatedDate && (
                    <div class="last-updated-on">
                      Last updated on <FormattedDate date={updatedDate} />
                    </div>
                  )
                }
              </div>
            </div>
          </div>

          <div class="title mb-4 py-4">
            <h1 class="text-3xl font-semibold tracking-tighter text-pretty leading-tight text-[rgb(var(--color),0.85)] text-shadow-[0_0_12px_rgb(var(--color),0.25)]">{title}.</h1>
            <hr class="my-4 border-t border-dotted border-[rgb(var(--color),0.12)] " />
          </div>

          <section class="main-content">
            <slot />
          </section>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>

